@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    color: #141651;
}

img {
  max-width: 100%;
}


.py-5 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

h2{
line-height: 50px;
font-size: 50px;
letter-spacing: 0%;
}

a{
 color: #141651;
 text-decoration: none;
}

.max-466{
  max-width: 466px;
}

.opacity-90{
  opacity: 0.9;
}

.hero{
  background-image: url("../src/components/img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}


.home-2{
  background-image: url("../src/components/img/home-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 234px 0;
} 

.home-4 ul li{
  list-style-type: none;
}

.home-4 ul li h3::before {
  content: "";
  width: 25px;
  height: 26px;
  border-radius: 26.5px;
  background-color: #2A2A2A1A;
  display: inline-block;
  margin-right: 9px;
  margin-left: -32px;
}

.footer-top {
    background-color: #404243;
    color: #fff;
    padding: 40px 0;
    font-size: 16px;
}

.footer-top .btn{
    background-color: #fff;
    color: #141615;
    border-radius: 80px;
    font-size: 14px;
    line-height: 1;
    padding: 20px;
}


footer {
   background-color: #141615;
   color: #F0F0F0;
   padding: 60px 100px;

}


footer a{
  color: #FFFFFF99;
  text-decoration: none;
}

footer ul{
  padding: 0;
    list-style-type: none;
}

.scroll-to-top-button{
  position: absolute;
  right: 50px;
  border-radius: 50%;

}

footer img {
  border-radius: 50%;
}

.newsletter-form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
  border: 2px solid #fff;
  border-radius: 50px;
  overflow: hidden;
  background-color: #141615;
}

.email-input {
  flex-grow: 1;
  padding: 15px 20px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
}

.email-input::placeholder {
  color: #aaa;
}

.subscribe-button {
  padding: 15px 30px;
  border: none;
  outline: none;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  height: 100%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}

.privacy-consent a {
  text-decoration: underline;
  color: rgba(255, 255, 255, 1);
}

.checkbox-visual {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 2.5px;
  border: 2px solid #ffffff;
  margin-right: 8px;
  vertical-align: middle;
  transition: background-color 0.5s;
}

#privacy-check:checked + label .checkbox-visual {
  background-color: #ffffff;
  border-color: #fff;
}

.icons {
    width: 20px;
    height: 20px;
    color: #F0F0F0;
    position: absolute;
}


@media (min-width: 1200px) {
	.h1, h1{
		font-size: 4rem;
	}
    .h2, h2 {
        font-size: 3rem;
    }

}